#aa-product{
	background-color:  #d7bde2;
	background-image: url("bg3.jpg"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#aa-product-details{
	background-color:  #d7bde2;
	background-image: url("prod-desc.jpg"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#aa-subscribe{
	background-image: url("bg3.jpg"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.aa-header-top{
	background-image: url("bg1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.aa-header-bottom{
	
	background-color:  #d7bde2;
}


h2 {
  color:  #a569bd  ;  
}
.aa-primary-btn:hover, .aa-primary-btn:focus {
  color:  #a569bd  ; 
  border-color:  #a569bd  ;
}
.aa-secondary-btn {  
  color:  #a569bd  ;  
}
.aa-secondary-btn:hover, .aa-secondary-btn:focus {
  background-color:  #a569bd  ;  
}
.aa-browse-btn {
  background-color:  #a569bd  ;  
  border: 1px solid  #a569bd  ; 
color:white;  
}
.aa-browse-btn:hover, .aa-browse-btn:focus {
  color:  #a569bd  ;
}

#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a > span {
  color:  #a569bd  ;  
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a strong {
  color:  #a569bd  ;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button {
  background-color:  #a569bd  ;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
  color:  #a569bd  ;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify {
  border: 1px solid  #a569bd  ;  
  color:  #a569bd  ;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:after { 
  border-top-color:  #a569bd  ;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:hover, #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:focus {
  border-color:  #a569bd  ;
}
#menu {
  background-color:  #a569bd  ; 
}
#menu .menu-area .navbar-default .navbar-nav .open a {
  color:  #a569bd  ;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
  color:  #a569bd  ;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover, #menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus { 
  background-color:  #a569bd  ;
}
.scrollToTop {
  background-color:  #a569bd  ;
  border: 1px solid  #a569bd  ;  
}
.scrollToTop:hover,
.scrollToTop:focus { 
  color:  #a569bd  ; 
}
#wpf-loader-two .wpf-loader-two-inner:before {
  background:  #a569bd  ;  
}
#wpf-loader-two .wpf-loader-two-inner:after {
  background:  #a569bd  ;  
}
#wpf-loader-two {
  background-color:  #a569bd  ;  
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:hover, #aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:focus {
  color:  #a569bd  ;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb .active {
  color:  #a569bd  ;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:hover, #aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:focus {
  color:  #a569bd  ;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:  #a569bd  ;
}

